.formulario{
    margin-left: 50%;
    margin-bottom: 10;
    position: fixed;
    transform: translateX(-50%);
    padding: 100px;
    display: inline;
    float: left;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
  }
div h2{
    margin-left: 60%;
    transform: translateX(-50%);
}
  div button{
    margin-left: 48%;
    transform: translateX(-50%);
    padding: 15px;
    margin-top: 10px;
    background-color: #1d3c9a;
    border-radius: 10px;

  }
div input{
 width: 500px;
 height: 50px;
 border-radius: 10px;
}
div button:hover{
  background-color: rgb(50, 160, 59);
}