.termosUso {
  margin-top: 30px; 
  margin-bottom: 25px;
  font-family: 'Kanit', sans-serif;
  position:static;
  text-align: justify;
  margin-left: 50%;
  transform: translatex(-50%);
  background-color: #fff;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  height: 400px;
  overflow-y: scroll;
}

.termostitle {
  font-family: 'Kanit', sans-serif;
  top: 20px;
  text-align: left;
  font-size: medium;
  margin-left: 15px;
}

.termslist {
  padding: 5px;
  margin: 5px;
  font-size: small;
}

ol {
  font-weight: bold;
}